<% extend('template/layout-main') %>
<div class="bg-queue">
    <img
        id="banner_main"
        src="/../images/banner/banner1.png"
        class="img-responsive"
        alt="Image">
        <div class="jumbotron">
            <div class="row" style="margin-bottom:30px;">
                <div class="col-12">
                    <button type="button" class="float-left  btn btn-primary">ใบรับรองแพทย์เพื่อการสมัครงานหรือใบขับขี่</button>
                    <i class="float-right fas fa-user-plus "></i>
                </div>
            </div>
            <div class="row" style="margin-bottom:30px;">
                <div class="col-12">
                    <button type="button" class="float-left  btn btn-primary">ใบรับรองแพทย์เพื่อการสมัครงานหรือใบขับขี่</button>
                    <i class="float-right fas fa-user-plus "></i>
                </div>
            </div>
            <table class="table table-hover table-main ">
                <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Age</th>
                        <th scope="col">Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>58-100004</td>
                        <td>นายวงศ์วัฒน ลีนะนิธิกุล</td>
                        <td>Male</td>
                        <td>66</td>
                        <td>
                            <button type="button" class="btn btn-primary" title='จัดคิว'>
                                <i class="fas fa-sign-in-alt">จัดคิว</i>
                            </button>
                            <button type="button" class="btn btn-success" title='ข้อมูลผู้ป๋วย'>
                                <i class="fas fa-info">ข้อมูลผู้ป๋วย</i>
                            </button>
                            <button type="button" class="btn btn-warning" title='แก้ไข'>
                                <i class="fas fa-pencil-alt">แก้ไข</i>
                            </button>
                            <button type="button" class="btn btn-danger" title='ลบ'>
                                <i class="fas fa-trash-alt">ลบ</i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>@mdo</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        <td>@mdo</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>