<% extend('template/layout-main') %>
<div class="bg-queue">
    <img
        id="banner_main"
        src="/../images/banner/banner1.png"
        class="img-responsive"
        alt="Image">
        <div class="jumbotron">
            <div class="row" style="margin-bottom:30px;">
                <div class="col-12">
                    <button type="button" class="float-left  btn btn-primary">ใบรับรองแพทย์เพื่อการสมัครงานหรือใบขับขี่</button>
                    <i class="float-right fas fa-user-plus "></i>
                </div>
            </div>
            <div class="row" style="margin-bottom:30px;">
                <div class="col-6">
                    <div class="form-inline">
                        <label for="">Show</label>
                        &nbsp;
                        <select class="form-control">
                            <option>10</option>
                            <option>25</option>
                            <option>50</option>
                            <option>100</option>
                        </select>
                        &nbsp;
                        <label for="">entries</label>
                    </div>
                </div>
                <div class="offset-2 float-right col-4 input-group ">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>
                    <input
                        type="text"
                        class="form-control"
                        placeholder="Search"
                        aria-label="Search"
                        aria-describedby="basic-addon1"></div>
                </div>
                <table class="table table-hover table-main ">
                    <thead>
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Gender</th>
                            <th scope="col">Age</th>
                            <th scope="col">Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>58-100004</td>
                            <td>นายวงศ์วัฒน ลีนะนิธิกุล</td>
                            <td>Male</td>
                            <td>66</td>
                            <td>
                                <button
                                    type="button"
                                    class="btn btn-primary"
                                    data-toggle="modal"
                                    data-target=".bd-example-modal-lg"
                                    title='จัดคิว'>
                                    <i class="fas fa-sign-in-alt">จัดคิว</i>
                                </button>
                                <button type="button" class="btn btn-success" title='ข้อมูลผู้ป๋วย'>
                                    <i class="fas fa-info">ข้อมูลผู้ป๋วย</i>
                                </button>
                                <button type="button" class="btn btn-warning" title='แก้ไข'>
                                    <i class="fas fa-pencil-alt">แก้ไข</i>
                                </button>
                                <button type="button" class="btn btn-danger" title='ลบ'>
                                    <i class="fas fa-trash-alt">ลบ</i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            <td>@mdo</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            <td>@mdo</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <div
                    class="modal fade bd-example-modal-lg"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="myLargeModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            </div>
                            <div class="modal-body">
                                <table class="table  table-striped ">
                                    <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Gender</th>
                                            <th scope="col">Age</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>58-100004</td>
                                            <td>นายวงศ์วัฒน ลีนะนิธิกุล</td>
                                            <td>Male</td>
                                            <td>66</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div class="form-group">
                                    <label for="">Chief Complaint (อาการสำคัญ)**</label>
                                    <input
                                        type="email"
                                        class="form-control"
                                        id="exampleInputEmail1"
                                        aria-describedby=""
                                        placeholder=""></div>
                                    <label for="">Present illness (ประวัติปัจจุบัน)</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="">Body temperature (อุณหภูมิของร่างกาย) (°C)</label>
                                            <input
                                                type="number"
                                                class="form-control"
                                                placeholder=""
                                                min="0"
                                                max=""
                                                step="0.01"
                                                name="temperature"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="">Heart rate (อัตราการเต้นของหัวใจ) (per min)</label>
                                            <input
                                                type="number"
                                                class="form-control"
                                                placeholder=""
                                                min="0"
                                                max=""
                                                step="0.01"
                                                name="heart"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="">Body Weight (น้ำหนักตัว) (kg)</label>
                                            <input
                                                type="number"
                                                class="form-control"
                                                placeholder=""
                                                min="0"
                                                max=""
                                                step="0.01"
                                                name="weight"/>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="">Blood pressure (ความดันโลหิต) (mmHg)</label>
                                            <input
                                                type="number"
                                                class="form-control"
                                                placeholder=""
                                                min="0"
                                                max=""
                                                step="0.01"
                                                name="temperature"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="">Respiratory rate (อัตราการหายใจ) (per min)</label>
                                            <input
                                                type="number"
                                                class="form-control"
                                                placeholder=""
                                                min="0"
                                                max=""
                                                step="0.01"
                                                name="respiratory"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="">Height (ความสูง) (cm)</label>
                                            <input
                                                type="number"
                                                class="form-control"
                                                placeholder=""
                                                min="0"
                                                max=""
                                                step="0.01"
                                                name="height"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success btn-lg btn-block" data-dismiss="modal">Submit</button>
                                <button type="button" class="btn btn-danger btn-lg btn-block">Cancle</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>