<% extend('../template/layout-main') %>

<div class="bg-queue">
    <img
        id="banner_main"
        src="/../images/banner/banner1.png"
        class="img-responsive"
        alt="Image"/>
    <div class="row">
        <div class="offset-2 col-8">
            <div class="jumbotron">
                <div class="row">
                    <button type="button" class="btn btn-info ">General Information</button>
                </div>

                <div class="row">
                    <div class="col-12">
                        <% include component/cardprofile.ejs %>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <% include component/cardtimeline.ejs %>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function toggle_detail(num) {
        var detail_count = '#detail'.concat(num);
        $(detail_count).slideToggle(500);
    }
</script>


