<% extend('../template/layout-main') %>

<style type="text/css">
    
    
    .navbar 
    {
        margin-top: -74px;
        font-size: 80%;
        z-index: 1;
    }

    .navbar-default {
        border-color: transparent;;
    }

    .navbar .container {
        /*margin-right: 50px;*/
    }
    .navbar-toggleeeeeee {
        margin-top: 140px;
        margin-bottom: -90px;
        margin-right: -70px;
    }

    .main-content {
        position: relative;
        margin-top: 80px;
        z-index: 10;
    }
    .tittle{
        margin-top: -100px;
        margin-left: -15px;
        color:white;
    }

    .dataTables_wrapper , .row-search {
        margin: 40px 10px 0 10px;
    }

    table {
        overflow-y: auto;
    }

    @media (min-width: 580px) {
        .navbar {
            margin-top: -110px;
        }
    }

    @media (min-width: 768px) {
        .navbar {
            margin-top: -140px;
            background-color: transparent;
        }

        .navbar-right {
            padding-right: 20px;
        }
        .navbar-left {
            padding-left: 150px;
        }
        
        .main-content {
            position: relative;
            margin-top: 120px;
            z-index: 10;
        }

        .tittle{
            margin-top: -100px;
            margin-left: -70px;
            color:white;
        }

        .data-length {
            style="margin-right: -20px;"
        }

        .dataTables_wrapper , .row-search {
            margin: 20px -15px;
        }
    }

    @media (min-width: 992px) {
        .navbar {
            margin-top: -160px;
        }
        .navbar-left {
            padding-left: 200px;
        }

        .dataTables_wrapper, .row-search {
            margin: -15px;
        }
    }

    @media (min-width: 1200px) {
        .navbar {
            margin-top: -190px;
        }
        .navbar-left {
            padding-left: 200px;
        }
        .navbar-right {
            padding-right: 78px;
        }
    }

    

</style>

<div class="bg-queue">
    <img
        id="banner_main"
        src="/../images/banner/banner1.png"
        class="img-responsive"
        alt="Image"/>


        <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div id="navbar" class="navbar-collapse collapse">

              <ul class="nav navbar-nav navbar-right">
              

                  <li class="queue_home"><a href="home">HOME</a></li>
                  <li class="queue_queue"><a href="queue">QUEUING</a></li>
                  <li class="queue_appointment"><a href="appointment">APPOINTMENT</a></li>
                  <li class="queue_logout"><a href="../auth/logout">LOGOUT</a></li>
    
      
              </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>

    <div class="jumbotron">
        <div class="row" style="margin-bottom:30px;">
            <div class="col-12">
                <button type="button" class="float-left  btn btn-primary">ใบรับรองแพทย์เพื่อการสมัครงานหรือใบขับขี่</button>
                <i class="float-right fas fa-user-plus "></i>
            </div>
        </div>
        <div class="row" style="margin-bottom:30px;">
            <div class="col-6">
                <div class="form-inline">
                    <label for="">Show</label>
                    &nbsp;
                    <select class="form-control">
                        <option>10</option>
                        <option>25</option>
                        <option>50</option>
                        <option>100</option>
                    </select>
                    &nbsp;
                    <label for="">entries</label>
                </div>
            </div>
            <div class="offset-2 float-right col-4 input-group ">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-search"></i>
                    </span>
                </div>
                <input
                    type="text"
                    class="form-control"
                    placeholder="Search"
                    aria-label="Search"
                    aria-describedby="basic-addon1"></div>
            </div>
            <table class="table table-hover table-main ">
                <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Age</th>
                        <th scope="col">Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>58-100004</td>
                        <td>นายวงศ์วัฒน ลีนะนิธิกุล</td>
                        <td>Male</td>
                        <td>66</td>
                        <td>
                            <button
                                type="button"
                                class="btn btn-primary"
                                data-toggle="modal"
                                data-target=".bd-example-modal-lg"
                                title='จัดคิว'>
                                <i class="fas fa-sign-in-alt">จัดคิว</i>
                            </button>
                            <a
                                type="button"
                                href="queue/information"
                                role="button"
                                class="btn btn-success"
                                title='ข้อมูลผู้ป๋วย'>
                                <i class="fas fa-info">ข้อมูลผู้ป๋วย</i>
                            </a>
                            <button type="button" class="btn btn-warning" title='แก้ไข'>
                                <i class="fas fa-pencil-alt">แก้ไข</i>
                            </button>
                            <button type="button" class="btn btn-danger" title='ลบ'>
                                <i class="fas fa-trash-alt">ลบ</i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>@mdo</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        <td>@mdo</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

            <% include component/modal-queue.ejs %>
        </div>
    </div>
</div>