<% extend('../template/layout-main') %>
<style type="text/css">
    .hr-action {
        width: 55px;
    }
    td{
        /*text-align: right;*/
        background-color: white;
    }
    th{
        /*text-align: right;*/
    }
    .tittle{
        margin-top: -100px;
        margin-left: -70px;
        color:white;
    }

    .table > tbody > tr > td, th {
        vertical-align: middle !important;
    }

    detail {
        font-weight: normal;
    }
</style>
<div class="modal fade" id="$id" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title text-center" id="lineModalLabel">Edit Queue</h2>
            </div>
            <div class="modal-body modal-body-info">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                    <div class="btn-group" role="group">
                        <button type="submit" class="btn btn-success btn-hover-green" role="button" name="submit" id="queue_save">Save</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"  role="button">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>
<div class="container main-content">
    <div class="well">
        <div class = "col-md-12 tittle">
            <h3>Queue</h3>
        </div>
        <div class="row row-search">
            <div class="col-md-3">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Show </label>
                        <div class="col-sm-6">
                            <select name="datalenght" id="datalenght" class="form-control input">
                                <option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option>
                            </select>
                        </div>
                        <label class="col-sm-3 control-label" style="margin-left: -20px;"> entries</label>
                    </div>
                </form>
            </div>

            <div class="col-md-4 col-md-offset-5">
                <div class="form-group">
                    <div class="icon-addon">
                        <input id="keyword" name="keyword" type="text" placeholder="Search" class="form-control" data-col="data-filter" autocomplete="off">
                        <label class="glyphicon glyphicon-search"></label>
                    </div>
                </div>
            </div>

        </div>
        <table id="resultTable" class="table table-hover table-condensed table-main">
            <thead>
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Chief Complaint</th>
                <!-- Body Temperature -->
                <th>BT<detail> (°C)</detail></th>
                <!-- Blood pressure -->
                <th>BP<detail> (mmHg)</detail></th>
                <!-- Heart rate -->
                <th>HR<detail> (per min)</detail></th>
                <!-- Respiratory rate -->
                <th>RR<detail> (per min)</detail></th>
                <!-- Weight -->
                <th>BW<detail> (kg)</detail></th>
                <!-- Height -->
                <th>Ht<detail> (cm)</detail></th>
                <th class='hr-action'></th>
                <!-- <th class='hr-action'></th> -->
                <th style="display: none;">data-filter</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <div class="row">
            <div class="col-md-4">
                <div id="total_entries" name="total_entries" style="margin: 8px 0;"></div>
            </div>
            <div class="col-md-8">
                <ul class="pagination pull-right justify-content-end" id="table_paginate" style="margin: 0px 0; display: none;">
                    <li class="page-item"><a href="#!" data-idx="1" tabindex="0">First</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--@if($queues->count() == 0)-->
    <!--<h1 class="text-center" style="color: #B2B2B2;">Queue is empty.</h1>-->
    <!--@endif-->
</div>

