body{
  font-family: 'Itim','Indie Flower', cursive;
  font-size: 1.875em; /* 30px/16=1.875em */

}
.full {
  background: url('../images/bg/bg_home.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height:100%;
}

img {
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top:50px;
}