<div class="row">
    <div class="col-12">

        <section id="cd-timeline" class="cd-container" style="margin-top: 0px;"/>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
                <center>
                    <h3 style="color:white; margin-top:8px">1</h3>
                </center>
            </div>
        </div>

        <div
            class="cd-timeline-content"
            onclick="toggle_detai(1)"
            style="cursor:pointer;">

            <b>อาการสำคัญ :</b>
            <br>
            <b>ประวัติปัจจุบัน :</b>
            <br>
            <div class="detail" style="display : none">
             
            </div>
        
        </div>
    </div>
</div>