<select
    style="width: 100%;"
    class="form-control"
    id="select2-trade_name<1>"
    onchange="changeTradename(1)">
    <option name="please-select" value="">-- Please select --</option>

    <option value='test'>test</option>

</select>