<!DOCTYPE html>
<html>
    <head>
        <title>Clinic</title>
        <% include header.ejs %>
    </head>



    <body>

        <div class="container-fluid">
            <% include Menu.ejs %>
            <%- content %>
        </div>
    </body>
</html>
