<!DOCTYPE html>
<html>
    <head>
        <title>Clinic</title>
        <% include header.ejs %>
    </head>
    <body>

        <div class="container-fluid">
            <%- content %>
        </div>
    </body>
</html>
<script type="text/javascript">
    function toggle_detail(num) {
        var detail_count = 'div.detail'.concat(num);
        $(detail_count).slideToggle(500);
    }
</script>