<!DOCTYPE html>
<html>
    <head>
        <title>Clinic</title>
        <% include header.ejs %>
    </head>
    <body>

    <% include Menu.ejs %>

    </body>
    <body>

        <div class="container-fluid">
            <%- content %>
        </div>
    </body>
</html>
